/* GENERAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.9;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#controls h5 {
  font-weight: bold;
}

/* MAP STYLES */
svg .district-borders {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
  fill: none;
}

svg .exterior-borders {
  stroke: black;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: none;
}

svg .waterway {
  stroke: blue;
  stroke-width: 3px;
  fill: none;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
}

svg .road {
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-linejoin: round;
}

svg .airport {
  stroke: grey;
  stroke-width: 1px;
  fill: none;
  stroke-linejoin: round;
}

svg .point {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  fill: black;
}

svg .city-label {
  text-anchor: middle;
  font-size: 12px;
  font-weight: bold;
}

/* Tooltip for Choropleth */

#tooltipChoropleth {
  position: absolute;
  width: 140px;
  height: auto;
  padding: 8px;
  background-color: white;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#tooltipChoropleth.hidden {
  display: none;
}

#tooltipChoropleth p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 14px;
}