/* GENERAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* MAP STYLES */
svg .district-borders {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
  fill: none;
}

svg .waterway {
  stroke: blue;
  stroke-width: 3px;
  fill: none;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
}

svg .road {
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-linejoin: round;
}

svg .point {
  stroke: black;
  stroke-width: 1px;
  stroke-linejoin: round;
  fill: black;
}

svg .city-label {
  text-anchor: end;
}