/* GENERAL STYLES */
#pageTitle {
    position: relative;
    margin-bottom: 35px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-weight: bolder;
    background-color: #060000;
}

.section {
    margin-top: 8px;
    margin-bottom: 8px;
}

#mapAreaVis {
    padding: 2px;
}

.top-sub-title {
    margin-top: 8px;
    font-weight: 500;
}

#background li {
    font-size: 16px;
}

#header-image {
    height: 500px;
}

#area-chart {
    position: relative;
}

#area-chart-div {
    padding: 10px;
}

#information {
    height: 75px;
}

#information-headline {
    margin-top: 0;
}

#alert-div {
    position: absolute;
    left: 0;
}

.legend-title {
    text-decoration: underline;
    font-weight: bold;
}

.overlay-text {
    margin: auto;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 50px;
    color: #f7f7f7;
    text-align: center;
}

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
}

svg text {
    font-family: sans-serif;
}

.section-pic {
    margin-top: 9px;
    border: 1px solid rgba(34, 36, 38, 0.5);
}

#spacing-div {
    height: 50px;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.9;
    clip-path: url(#clip);
}

.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.story-extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

#controls h5 {
    font-weight: bold;
}

/* STACKED AREA CHART STYLES */
#area-chart {
    position: relative;
}

#area-chart-tooltip {
    position: absolute;
    pointer-events: none;
    margin-bottom: 10px;
    padding: 6px;
}

#area-chart-tooltip p {
    margin: 2px;
}

.tooltipCircle {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

#area-chart-tooltip-date {
    font-size: 16px;
    fill: black;
}

#area-chart-tooltip-p {
    font-size: 16px;
    font-weight: bold;
    fill: black;
}

#area-chart-tooltip-title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    fill: black;
}

.tooltipLine {
    stroke: black;
    stroke-dasharray: 3,3;
    opacity: 0.5;
}

.areaTooltip {
    pointer-events: none;
}

svg .area-background {
    fill: #f7f7f7;
}

svg .event {
    stroke: black;
    stroke-width: 1px;
    opacity: 0.5;
    cursor: default;
    clip-path: url(#clip);
}

/* Get rid of extenders on timeline event tooltips (lead to confusion) */
.d3-tip-timeline {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background-color: white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    max-width: 300px;
}

/* MAP STYLES */
svg .district-borders {
    stroke: white;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-opacity: 0.5;
    fill: #f7f7f7;
}

/* Need a darker background, but white district borders are much more supportive (to my eyes :)) */
svg .exterior-borders {
    stroke: white;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: none;
}

svg .point {
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: round;
    fill: black;
}

svg .city {
    fill: black;
    stroke: white;
    stroke-width: 2px;
}

svg .city-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
}

svg .circle-legend-text {
    text-anchor: start;
}

svg .highlightRect {
    fill: none;
    stroke: #E41A1C;
    stroke-width: 8;

}

/* D3.JS Tooltips */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background-color: white;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}




/* For cartogram: */
#us-map {
    background: #f7f7f7;
    width: 100%;
    height: 100%;
    margin: 0;
}

#cartogram {
    height: 525px;
}

path.state {
    stroke: white;
    stroke-width: 1;
}

path.state:hover {
    stroke-width: 3;
}

#cartogram-ul ul {
    margin-top: 8px;
}
